/*############################################################################
##
##  Decor application machinery core
##  2014-2017 (c) Vladi Belperchinov-Shabanski "Cade"
##  <cade@bis.bg> <cade@biscom.net> <cade@cpan.org>
##
##  LICENSE: GPLv2
##
############################################################################*/

/*** DECOR SYSTEM DEFAULT CSS ***********************************************/

/*** main/body **************************************************************/

html
        {
        height: 100%;
        }

body
        {
        font-family: sans-serif, helvetica;
        margin: 0;
        font-style: normal;
        font-size: 10pt;
        color: #DDD;
        background-color: #222;
        height: 100%;
        }

.details-text
        {
        color: #777;
        }

/*** globals ****************************************************************/

a       {
        color: aqua;
        text-decoration-style: dotted;
        text-decoration-color: teal;
        }
a:hover {
        color: aqua;
        text-decoration-style: solid;
        text-decoration-color: aqua;
        }

img
        {
        vertical-align: middle;
        }

.icon
        {
        cursor: pointer;
        color: #FFF;
        padding: 0.3em;
        margin:  0.1em;
        background-color: #448;
        border-top:    solid 1px #66A;
        border-left:   solid 1px #66A;
        border-bottom: solid 1px #226;
        border-right:  solid 1px #226;
        text-decoration: none;
        }

.icon:hover
        {
        background-color: #559;
        border-top:    solid 1px #226;
        border-left:   solid 1px #226;
        border-bottom: solid 1px #66A;
        border-right:  solid 1px #66A;
        }

.icon-disabled
        {
        color: #FFF;
        padding: 0.3em;
        margin:  0.1em;
        background-color: #337;
        border-top:    solid 1px #66A;
        border-left:   solid 1px #66A;
        border-bottom: solid 1px #226;
        border-right:  solid 1px #226;
        text-decoration: none;
        }

a.icon
        {
        margin: 1px 1px 1px 1px;
        padding: 0;
        text-decoration: none;
        }

h1      { 
        margin: 2px 2px 2px 2px; 
        }

div.error-text
        {
        width:  80%;
        background-color: #511;
        border:      solid 1px #933;
        border-left: solid 3px #933;
        text-align: center;
        padding: 1em;
        margin-left: auto;
        margin-right: auto;
        }

div.info-text
        {
        width:  80%;
        background-color: #357;
        border:      solid 1px #68A;
        border-left: solid 3px #68A;
        text-align: center;
        padding: 1em;
        margin-left: auto;
        margin-right: auto;
        }

div.link-data
        {
        color: #CCC;
        background-color: #313;
        padding: 0.5em;
        margin: 0 0 0 0;
        border:        none;
        border-left:   solid 1px #555;
        border-bottom: solid 1px #555;
        }


.warning
        {
        background-color: #522;
        border: solid 1px #633;
        padding: 2px;
        margin: 2px 2px 2px 2px;
        }

.input-error
        {
        background-color: #352525;
        }

.hi
        {
        color: #FFF;
        }

table
        {
        margin-left: auto;
        margin-right: auto;
        border-collapse: collapse;
        }

.cursor-pointer
        {
        cursor: pointer;
        }

/*** for_screen/for_print ***************************************************/

div#div_for_screen
        {
        width:  100%;
        height: 100%;
        }

table.main
        {
        width:  100%;
        height: 100%;
        }

tr.main_body
        {
        width:  100%;
        height: 100%;
        vertical-align: top;
        }

td.main_body
        {
        text-align: center;
        vertical-align: top;
        }

td.main_footer
        {
        width:  100%;
        height: 100%;
        vertical-align: top;
        background-color: #444;
        border-top: solid 1px #777;
        padding: 4px;
        }

@media screen
        {
        div#div_for_screen { display: block; }
        div#div_for_print  { display: none;  }
        }

@media print
        {
        div#div_for_screen { display: none;  }
        div#div_for_print  { display: block; }
        }

/*** logo head table ********************************************************/

table.logo
        {
        color: #CCC;
        background-color: #446;
        border-bottom: solid 1px #66A;
        vertical-align: middle;
        padding: 4px;
        }

a.logo
        {
        color: #CCC;
        text-decoration: none;
        }

/*** main menu **************************************************************/

table.main-menu
        {
        width:  100%;
        color: #CCC;
        }

tr.main-menu
        {
        background-color: #224;
        vertical-align: middle;
        font-weight: bold;
        white-space: nowrap;
        border-bottom: solid 1px #66A;
        }

td.main-menu
        {
        width:  1%;
        border-right: solid 1px #777;
        }

td.main-menu:hover
        {
        background-color: #335;
        }

td.main-menu-fill
        {
        width:  100%;
        border-right: solid 1px #777;
        padding: 0;
        text-align: right;
        }

a.main-menu
        {
        display: block;
        color: #CCC;
        width:  100%;
        padding: 6px;
        text-decoration: none;
        }

a.main-menu:hover
        {
        color: #FFF;
        }

/*** page sessions path ******************************************************/

tr.ps-path
        {
        background-color: #224;
        vertical-align: middle;
        white-space: nowrap;
        border-bottom: solid 1px #66A;
        }

td.ps-path
        {
        padding: 6px;
        }

/*** menu *******************************************************************/

table.menu
        {
        color: #CCC;
        background-color: #224;
        border-top: solid 1px #66A;
        vertical-align: middle;
        font-weight: bold;
        width: 80%;
        text-align: left;
        }

td.menu
        {
        width:  1%;
        border-bottom: solid 1px #777;
        border-left: solid 1px #66A;
        border-right: solid 1px #66A;
        padding: 4px;
        white-space: nowrap;
        padding-left: 10px;
        padding-right: 10px;
        }

a.menu
        {
        display: block;
        color: #CCC;
        width:  100%;
        padding: 4px;
        text-decoration: none;
        }

a.menu:hover
        {
        color: #FFF;
        }

td.menu:hover
        {
        background-color: #335;
        white-space: nowrap;
        }

tr.menu
        {
        cursor: pointer;
        white-space: nowrap;
        }

/*** view *******************************************************************/

table.view
        {
        width:  80%;
        color: #CCC;
        border-collapse: collapse;
        border: solid 1px #555;
        }

td.view-header
        {
        background-color: #232;
        border: solid 1px #555;
        border-bottom: solid 1px #66A;
        font-weight: bold;
        padding: 6px;
        }

td.view-field
        {
        height: 1.8em;
        background-color: #333;
        border-bottom: solid 1px #444;
        border-right: solid 1px #444;
        text-align: right;
        width: 50%;
        padding: 4px;
        padding-right: 8px;
        }

td.view-value
        {
        background-color: #333;
        border-bottom: solid 1px #444;
        text-align: left;
        width: 50%;
        padding: 4px;
        padding-left: 8px;
        }

/*** grid *******************************************************************/

table.grid
        {
        width:  99%;
        color: #CCC;
        border-collapse: collapse;
        border: solid 1px #555;
        }

td.grid-header
        {
        background-color: #223;
        border: solid 1px #555;
        border-bottom: solid 1px #66A;
        font-weight: bold;
        padding: 4px;
        white-space: normal;
        }

td.grid-data
        {
        padding: 4px;
        white-space: nowrap;
        border-right: solid 1px #555;
        }

tr.grid-header
        {
        background-color: #223;
        }

tr.grid-1
        {
        background-color: #353535;
        border-bottom: solid 1px #555;
        }

tr.grid-2
        {
        background-color: #303030;
        border-bottom: solid 1px #555;
        }

tr.grid-1:hover
        {
        border-bottom: solid 1px #888;
        }

tr.grid-2:hover
        {
        border-bottom: solid 1px #888;
        }

td.fmt-left
        {
        text-align: left;
        }

td.fmt-right
        {
        text-align: right;
        }

td.fmt-center
        {
        text-align: center;
        }

td.fmt-mono
        {
        font-family: monospace;
        white-space: nowrap;
        }

td.fmt-ctrl
        {
        text-align: left;
        background-color: #334;
        width: 1%;
        }

/*** grid navigation ********************************************************/

table.grid-navi
        {
        white-space: nowrap;
        }

table.grid-navi td
        {
        padding: 0.2em;
        }


/*** form inputs ************************************************************/

input,textarea
        {
        color: #CCC;
        background-color: #252525;
        background-color: #222;
        padding: 0.5em;
        margin: 0 0 0 0;
        border:        none;
        border-right:  solid 1px #555;
        border-bottom: solid 1px #555;
        border-left:   solid 1px #000;
        border-top:    solid 1px #000;
        }

input:hover,textarea:hover
        {
        background-color: #252525;
        background-color: #023;
        
        border-right:  solid 1px #999;
        border-bottom: solid 1px #999;

        border-right:  solid 1px #777;
        border-bottom: solid 1px #777;
        border-left:   solid 1px #000;
        border-top:    solid 1px #000;
        }

input:focus,textarea:focus
        {
        color: #FFF;
        background-color: #023;
        border-right:  solid 1px #999;
        border-bottom: solid 1px #999;
        background-image: none;
        }

/*** buttons ****************************************************************/

.button
        {
        display: inline-block;
        cursor: pointer;
        font-weight: bold;
        color: #000;
        background-color: #AAA;
        background-image: none;
        text-decoration:  none;
        padding-top:    0.50em;
        padding-left:   1.00em;
        padding-bottom: 0.50em;
        padding-right:  1.00em;
        margin:         0.20em;
        border-top:    solid 1px #FFF;
        border-left:   solid 1px #FFF;
        border-bottom: solid 1px #777;
        border-right:  solid 1px #777;

        color: #FFF;
        background-color: #448;
        border-top:    solid 1px #66A;
        border-left:   solid 1px #66A;
        border-bottom: solid 1px #226;
        border-right:  solid 1px #226;
        }

.button:hover
        {
        color: #000;
        border-top:    solid 1px #777;
        border-left:   solid 1px #777;
        border-bottom: solid 1px #FFF;
        border-right:  solid 1px #FFF;

        color: #FFF;
        background-color: #448;
        border-top:    solid 1px #226;
        border-left:   solid 1px #226;
        border-bottom: solid 1px #66A;
        border-right:  solid 1px #66A;
        }


.act-button
        {
        color: #FFF;
        background-color: #262;
        border-top:    solid 1px #484;
        border-left:   solid 1px #484;
        border-bottom: solid 1px #060;
        border-right:  solid 1px #060;
        }

.act-button:hover
        {
        color: #FFF;
        background-color: #272;
        border-top:    solid 1px #060;
        border-left:   solid 1px #060;
        border-bottom: solid 1px #484;
        border-right:  solid 1px #484;
        }

.nav-button
        {
        color: #FFF;
        background-color: #159;
        border-top:    solid 1px #37B;
        border-left:   solid 1px #37B;
        border-bottom: solid 1px #037;
        border-right:  solid 1px #037;
        }

.nav-button:hover
        {
        color: #FFF;
        background-color: #15A;
        border-top:    solid 1px #037;
        border-left:   solid 1px #037;
        border-bottom: solid 1px #37B;
        border-right:  solid 1px #37B;
        }

.mod-button
        {
        color: #FFF;
        background-color: #822;
        border-top:    solid 1px #A44;
        border-left:   solid 1px #A44;
        border-bottom: solid 1px #600;
        border-right:  solid 1px #600;
        }

.mod-button:hover
        {
        color: #FFF;
        background-color: #922;
        border-top:    solid 1px #600;
        border-left:   solid 1px #600;
        border-bottom: solid 1px #A44;
        border-right:  solid 1px #A44;
        }


/*** hover layer ************************************************************/

div.hover-layer
        {
        display: none;
        color: #FFF;
        background-color: #550;
        border:      solid 1px #990;
        border-left: solid 3px #990;
        padding: 0.5em;
        padding-left: 1em;
        opacity: 0.95;
        white-space: nowrap;
        }

div.popup-layer
        {
        display: none;
        color: #000;
        background-color: #222;
        border: solid 1px #555;
        white-space: nowrap;
        padding: 0.5em;
        padding-left: 1em;
        opacity: 0.95;
        }

/*** check boxes ************************************************************/

img.check-unknown
        {
        color: #999;
        background-color: #772;
        padding: 0.4em;
        border-top:    solid 1px #883;
        border-left:   solid 1px #883;
        border-bottom: solid 1px #661;
        border-right:  solid 1px #661;
        }

img.check-0
        {
        color: #999;
        background-color: #722;
        padding: 0.4em;
        border-top:    solid 1px #833;
        border-left:   solid 1px #833;
        border-bottom: solid 1px #611;
        border-right:  solid 1px #611;
        }

img.check-0:hover
        {
        border-top:    solid 1px #611;
        border-left:   solid 1px #611;
        border-bottom: solid 1px #833;
        border-right:  solid 1px #833;
        }

img.check-1
        {
        color: #FFF;
        font-weight: bold;
        background-color: #242;
        padding: 0.4em;
        border-top:    solid 1px #353;
        border-left:   solid 1px #353;
        border-bottom: solid 1px #121;
        border-right:  solid 1px #121;
        }

img.check-1:hover
        {
        border-top:    solid 1px #121;
        border-left:   solid 1px #121;
        border-bottom: solid 1px #353;
        border-right:  solid 1px #353;
        }

/*** DECOR EOF **************************************************************/
